<link rel="stylesheet" href="../css/profile.css">

<div class="container">
    <h1 class="center-align">Profile</h1>
</div>

<div class="container">
    <div class="row content">
        <div class="col s4">
            <img class="materialboxed avatar-profile" src="/images/boy_avatar.png">
        </div>

        <div class="col s2 m6 right">
            <div class="card purple darken-1">
                <span class="card-title white-text">Full Name</span>
                <div class="card-content white-text">
                    <span class="card-content">Fullname: {{firstName}}{{lastName}} </span>
                    <span class="card-content">Born: {{birthDate}}</span>
                    <span class="card-content">Gender: {{gender}}</span>
                </div>
            </div>
        </div>

        <div class="col s2 m6 right">
            <div class="card purple darken-1">
                <span class="card-title white-text">Contact Information</span>
                <div class="card-content white-text">
                    <span class="card-content">Email: {{email}}</span>
                    <span class="card-content">Telephone: {{phoneNumber}}</span>
                </div>
            </div>
        </div>
    </div>
</div>


{{!-- If we have any database or router error --}}
{{#if error}}
<div class="error-div">
    <p class="pink-centered-bold-text">The following errors occured when trying to log in: </p>
    <ul>
        {{#each error}}
        <li class="pink-centered-text">{{this}}</li>
        {{/each}}
    </ul>
</div>
{{/if}}