<link rel="stylesheet" type="text/css" href="/css/searchPosts.css">

<div class="container-div">
    <h4 class="search-posts-title"> Search Posts</h4>
    <div class="search-div">
        <form method="GET" action="/post/execute-search">

            <select name="categoryID">
                <option value="" selected disabled hidden>Category</option>
                {{#each categories}}
                <option value="{{categoryID}}">{{category}}</option>
                {{/each}}
            </select>

            <select name="locationID">
                <option value="" selected disabled hidden>Location</option>
                {{#each locations}}
                <option value="{{locationID}}">{{location}}</option>
                {{/each}}
            </select>

            <div class="search-button-div">
                <button class="btn waves-effect waves-light" type="submit">Search!<i
                        class="material-icons right">send</i></button>
            </div>

        </form>
    </div>
</div>

{{#if errors}} {{!-- These errors are database errors either from fetching categories, locations or posts  --}}
<div class="error-div">
    <p class="pink-centered-bold-text">The following errors occured when searching posts: </p>
    <ul>
        {{#each errors}}
        <li class="pink-centered-text">{{this}}</li>
        {{/each}}
    </ul>
</div>

{{else}} {{!--No errors, we have received an array of posts OR no search has been made yet. --}}

{{#if posts.length}}

<div="search-result-div">
    <div class="row">

        {{#each posts}}

        <div class="col s3">
            <div class="card">

                <div class="card-image">
                    <img class="responsive-img post-image" src="/images/adventure.jpg">
                </div>

                <div class="card-content">
                    <p class="post-title-paragraph">{{title}}</p>
                    <br>
                    <p class="post-content-paragraph">{{content}}</p>
                    <br>
                    <p class="post-content-paragraph">{{createdAt}}</p>
                </div>

                <div class="card-action">
                    <a href="/account/profile/{{accountID}}">Contact me!</a>
                </div>
            </div>
        </div>

        {{/each}}

    </div>
    </div>

    {{else}} {{!-- "posts" is empty which means no posts match the search OR no search has been made yet. --}}

    {{#if searchHasBeenMade}}
    {{!-- A search has been made and so it means that "posts" is empty because no posts matched the search. --}}
    <p class="pink-centered-bold-text">No posts available that match currently chosen category and location.</p>
    {{/if}}

    {{/if}}
    {{/if}}

