<link rel="stylesheet" type="text/css" href="/css/support.css">

<h3 class="center-align contact-message-title">Have a question about Friendy?</h3>

<div class="row align-form">
    <div class="col s12 m4 offset-m4">
        <div class="card">

            <div class="card-action  red lighten-2 white-text">
                <h4>Send us a message!</h4>
            </div>

            <div class="card-content">

                <form method="POST" action="/contact-message/send-contact-message">

                    <div class="form-field">
                        <label for="contactMessageTitle">Title: </label>
                        <input type="text" name="title" value="{{title}}" id="contactMessageTitle">
                    </div><br>

                    <div class="form-field">
                        <label for="contactMessageContent">Message: </label>
                        <input type="text" name="content" value="{{content}}" id="contactMessageContent">
                    </div><br>

                    <div class="form-field">
                        <label for="email">Email: </label>
                        <input type="email" name="email" value="{{email}}" id="contactMessageEmail">
                    </div><br>

                    <div class="form-field">
                        <button class="btn-large wave-effect waves-dark red lighten-2 send-contact-message-button"
                            type="submit">Send</button>
                    </div><br>

                </form>
            </div>
        </div>
    </div>
</div>

{{#if errors.length}} {{!-- These errors are either database errors or validation errors.  --}}
<div class="error-div">
    <p class="pink-centered-bold-text">The following errors occured when trying to send your message: </p>
    <ul>
        {{#each errors}}
        <li class="pink-centered-text">{{this}}</li>
        {{/each}}
    </ul>
</div>

{{else}}

{{!-- No errors! Either no contact message has been sent yet, or a contact message has been sent succesfully! --}}

{{#if thankYouMessage}} {{!-- A contact message was indeed sent!  --}}
<p class="pink-centered-bold-text">{{thankYouMessage}}</p>
{{/if}}

{{/if}}